FinalReport/STICV2.bib
FinalReport/main.bcf
FinalReport/main.fdb_latexmk
FinalReport/main.fls
FinalReport/main.run.xml
FinalReport/tex/chapter2_background.log
FinalReport/tex/chapter5_implementation.log

